*{
  padding: 0;
  margin: 0;
}
header{
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 1.9;
  }
  
  main{
    text-align: justify;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    line-height: 1.9;
  }
  
  aside{
    text-align: center;
    width: 180px;
    border: 1px solid black;
    position: fixed;
    bottom: 70px;
    right: 0  
    
  }
  
  aside:active{
    background-color: black;
    color: white;
  }
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }
button:active{
  background-color: white;
  color: black;
}

/* header :nth-child(2){
  text-align: left;
} */